= title_anchor 'h2', 'preview-api', 'Preview API'

:markdown
  In addition to the Delivery API for published content, there is also a Preview API for previewing unpublished content as though it were published. It maintains the same behaviour and parameters as the Content Delivery API, but delivers the latest draft for entries and assets.

= title_anchor 'h3', 'preview-api-authentication', 'Preview API Authentication'

:markdown
  You authenticate with the Preview API in the same way as the Delivery API, but using a _Preview_ access token.

  **Your production Delivery API access tokens will not work with the Preview API.** The use of a separate token helps prevent accidentally leaking unpublished content. Every Delivery API key has an associated preview access token, which you can view in the "API" tab of the Contentful app.

= title_anchor 'h3', 'preview-api-usage', 'Using the Preview API'

:markdown
  You use the Preview API as though it were the Delivery API, but replacing the hostname `cdn.contentful.com` with `preview.contentful.com`, and the production access token with a preview access token.


= language_specific 'http' do
  = language_block :shell do
    = curl subdomain: 'preview', path: "/spaces/#{space}"

= language_specific 'javascript' do
  = language_block :javascript do
    :plain
      var client = contentful.createClient({
        host: 'preview.contentful.com',
        accessToken: 'e5e8d4c5c122cf28fc1af3ff77d28bef78a3952957f15067bbc29f2f0dde0b50',
        space: '#{space}'
      });

= language_specific 'objc' do
  = language_block :objc do
    :plain
      CDAConfiguration* config = [CDAConfiguration defaultConfiguration];
      config.server = @"preview.contentful.com";
      config.secure = TRUE;

      CDAClient* client = [[CDAClient alloc] initWithSpaceKey:@"#{space}"
                                             accessToken:@"e5e8d4c5c122cf28fc1af3ff77d28bef78a3952957f15067bbc29f2f0dde0b50"
                                             config: config];

= language_specific 'swift' do
  = language_block :swift do
    :plain
      var config = CDAConfiguration.defaultConfiguration()
      config.server = "preview.contentful.com"
      var client = CDAClient(spaceKey: "#{space}",
                             accessToken: "e5e8d4c5c122cf28fc1af3ff77d28bef78a3952957f15067bbc29f2f0dde0b50",
                             configuration: config)

= language_specific 'ruby' do
  = language_block :ruby do
    :plain
      require 'contentful'
      client = Contentful::Client.new(
        api_url: 'preview.contentful.com',
        space: '#{space}',
        access_token: 'e5e8d4c5c122cf28fc1af3ff77d28bef78a3952957f15067bbc29f2f0dde0b50',
        dynamic_entries: 'auto'
      )

= title_anchor 'h3', 'preview-api-limitations', 'Preview API Limitations'

:markdown
  The Preview API does not implement the Sync API, so applications that rely exclusively on  the Sync API to load data will not be usable with the Preview API.
