- title :developers, :documentation, :content_delivery_api, :skip => [:documentation]

- set_doc_type 'content-delivery-api'
- @language = language if defined? language
- @subdomain = 'cdn'
- sidebar_name :content_delivery_api

- @path_prefix = '/developers/documentation/content-delivery-api/'


- wrap_layout :documentation do
  = title_anchor 'h1', 'api', 'Content Delivery API'

  = prefixed_partial 'introduction'
  = prefixed_partial 'getting-started'
  = prefixed_partial 'authentication'
  = prefixed_partial '../shared/search'

  = language_specific 'javascript', 'http' do
    = prefixed_partial '../shared/json-format'

  = prefixed_partial 'localization'
  = prefixed_partial '../shared/links'

  = language_specific 'javascript', 'http' do
    = prefixed_partial 'api-versioning'

  = prefixed_partial 'sync'

  = language_specific 'javascript', 'http' do
    = prefixed_partial 'webhooks'

  = prefixed_partial 'http-details'
  = prefixed_partial 'errors'

  = prefixed_partial 'endpoints'
  = prefixed_partial 'preview-api'
  = language_specific 'http' do
    = prefixed_partial '../shared/libraries'

  = prefixed_partial '../shared/getting-help'

  = title_anchor 'h1', 'resources', 'Resources'

  = prefixed_partial 'resources'
  = prefixed_partial '../shared/tldr'


  %script(src="/javascripts/repl.js")
  %script(src="/javascripts/embedded-api-console.js")
