:markdown
  Let's create a Content Type for blog posts.
  Blog posts will have a title and a body field.
  The Content Type should have an ID of "blog-post".
  To choose an ID issue a PUT request to the resource's URI:

= code_examples do
  = language_block :javascript do
    :plain
      space.createContentType({
        sys: {id: 'blog-post'},
        name: 'Blog Post',
        fields: [
          {id: 'title', name: 'Title', type: 'Text'},
          {id: 'body', name: 'Body', type: 'Text'}
        ]
      }).then(log.ok, log.fail);
  = language_block :shell do
    = curl method: 'PUT',
           path:   '/spaces/{space_key}/content_types/blog-post',
           data:   {name: 'Blog Post', fields: [{id: 'title', name: 'Title', type: 'Text'}, {id: 'body', name: 'Body', type: 'Text'}]}

%h5 Response

= language_block :json do
  :plain
    {
      "name": "Blog Post",
      "fields": [
        {
          "id": "title",
          "name": "Title",
          "type": "Text"
        },
        {
          "id": "body",
          "name": "Body",
          "type": "Text"
        }
      ],
      "sys": {
        "id": "blog-post",
        "type": "ContentType",
        "space": {
          "sys": {
            "type": "Link",
            "linkType": "Space",
            "id": "7daovfk1olns"
          }
        },
        "createdAt": "2013-09-22T21:42:00.184Z",
        "createdBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "version": 1,
        "updatedAt": "2013-09-22T21:42:00.184Z",
        "updatedBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        }
      }
    }
