:markdown
  Unpublish the Entry with the ID "hello-world".

= code_examples do
  = language_block :javascript do
    :plain
      space.getEntry('hello-world').then(function(entry) {
        return space.unpublishEntry(entry);
      }).then(log.ok, log.fail);

      // or unpublish Entry by ID:
      space.unpublishEntry('hello-world').then(log.ok, log.fail);
  = language_block :shell do
    = curl method:  'DELETE',
           path:    '/spaces/{space_key}/entries/hello-world/published'

%h5 Response

= language_block :json do
  :plain
    {
      "fields": {
        "title": {
          "en-US": "Crispy bacon news"
        },
        "body": {
          "en-US": "Bacon is healthy!"
        }
      },
      "sys": {
        "id": "hello-world",
        "type": "Entry",
        "space": {
          "sys": {
            "type": "Link",
            "linkType": "Space",
            "id": "7daovfk1olns"
          }
        },
        "createdAt": "2013-09-22T23:05:03.271Z",
        "createdBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "contentType": {
          "sys": {
            "type": "Link",
            "linkType": "ContentType",
            "id": "blog-post"
          }
        },
        "firstPublishedAt": "2013-09-22T23:28:11.503Z",
        "publishedCounter": 1,
        "version": 4,
        "updatedAt": "2013-09-22T23:29:37.122Z",
        "updatedBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        }
      }
    }
