= title_anchor 'h2', "libraries", "Libraries"

:markdown
  We have created libraries to simplify integrating Contentful with various programming languages.
  If there's no integration for your language yet you can still talk to the HTTP endpoints directly. You can download the Contentful libraries through the links below. To see the examples on this page in your preferred programming language, select it from the drop down in the left column.

= title_anchor 'h3', "libraries-java", "Java"

:markdown
  - [contentful.java](https://github.com/contentful/contentful.java): Java SDK for delivering content.
  - [contentful-management.java](https://github.com/contentful/contentful-management.java): Java SDK for managing content.

= title_anchor 'h3', "libraries-javascript", "JavaScript"

:markdown
  - [contentful.js](https://github.com/contentful/contentful.js): Browser & node.js library for delivering content.
  - [contentful-management.js](https://github.com/contentful/contentful-management.js): Browser & node.js library for managing content.

= title_anchor 'h3', "libraries-objc", "Objective-C & Swift"

:markdown
  - [contentful.objc](https://github.com/contentful/contentful.objc): Objective-C SDK for delivering content.

  You can also use the Objective-C SDK with Swift, see the [Swiftful demo](https://github.com/contentful-labs/Swiftful) for an example.


= title_anchor 'h3', "libraries-ruby", "Ruby"

:markdown
  - [contentful.rb](https://github.com/contentful/contentful.rb): Ruby gem for delivering content.
  - [contentful-management.rb](https://github.com/contentful/contentful-management.rb): Ruby gem for managing content.
