= title_anchor 'h2', "resources-webhooks", "Webhooks"

= prefixed_partial '../shared/webhooks-explanation'

:markdown
  You can create and manipulate Webhook Definitions using the Management API.

  To see how an actual Webhook HTTP request looks like please refer to the
  [Delivery API's Webhook section](/developers/documentation/content-delivery-api/#webhooks).

= language_specific 'http' do
  = prefixed_partial 'snippets/webhooks-create'
  = prefixed_partial 'snippets/webhooks-list'
  = prefixed_partial 'snippets/webhooks-get'
  = prefixed_partial 'snippets/webhooks-update'
  = prefixed_partial 'snippets/webhooks-delete'
  = prefixed_partial 'snippets/webhooks-fields'
= language_specific 'javascript' do
  :markdown
    To see how to use Webhooks, please refer to the [HTTP version](/developers/documentation/content-management-api/http/#resources-webhooks) of this documentation


