- set_doc_type 'content-management-api'

= title_anchor 'h1', "authentication", "Authentication"

# Authentication
## How to authenticate apps in Contentful

This is an essential read for getting started with Contentful and setting up your first *Hello, World* app.

## General

To get content from Contentful or store data in it, an app should authenticate with an with an OAuth bearer token. Contentful offers four APIs (more about that on the [APIs](insert_link_here) page), and each of them require separate authentication – except for the Images API, which delivers images without authentication.

There are two ways of sending the authentication token to an API: you can include it either as a query parameter `access_token=$token` or an HTTP header `Authorization: Bearer $token`.

EXAMPLE BEGINS
 curl cdn.contentful.com?something=something_else&something_else=something_completely_different
 HTTP 500 Internal Server Error

 curl -X GET https://cdn.contentful.com/spaces/sxx7gi06ja5s?access_token=6786fff03647290009d63381f986295c9a187ab079bbe41b9503fe2859328bc3
{
  "sys": {
    "type": "Space",
    "id": "sxx7gi06ja5s"
  },
  "name": "Landing Pages",
  "locales": [
    {
      "code": "en-US",
      "default": true,
      "name": "U.S. English"
    }
  ]
 }
EXAMPLE ENDS

The sections below explain how to obtain the token for different APIs.

Most likely you wouldn't need to send the token manually. We provide SDKs for a lot of platforms and languages, and they know how to authenticate with Contentful, so you don't have to write extra code. Please [see the available SDKs]() – most likely there's one for you. Set it up with the token and you're done.

## The Delivery API and Preview API

These two APIs use the access token which you manually create in the Contentful web interface. [Go to the app](insert_link_here), open the space that you want to access (top left corner lists all the spaces), and navigate to the *APIs* area. Open the *API Keys* section and create your first token. Done.

<!-- TODO: screenshot(s) would be nice -->

Two things to keep in mind: first, a token provides read-only access to a single space – that is, you need to obtain a new token for every new space that you want to access. Second, we recommend using different access tokens for different applications or delivery channels: for example, one for iOS app and another for Android app. One of the reasons is to be able to revoke them individually in the future: with several tokens you can manipulate your delivery channels independently.

## The Management API

To access the Management API – that is, to put content in Contentful from your apps – you need to get an OAuth 2.0 token that would represent your account. Naturally, this token will have the same rights as the owner of the account.

This page contains a JavaScript app which would help you get an authentication token from your account. Please log in, and the token will appear below.

<!-- CASE 1: not logged in -->
[ Log in to get the token ]

<!-- CASE 2: logged in -->
Your auth token is `7e9a3f483166b3dfa747270ebee44d381ec102131ee6d1064f737522c36a208d`

If you would want to create apps for changing content stored in Contentful, you would need to create a custom OAuth application. See more information on that in the section below.

= title_anchor 'h2', "authentication-oauth-application", "Creating an OAuth 2.0 application"

:markdown
  Here are some examples where it would make sense to build an OAuth 2.0 application:

  - A JavaScript web app requesting permission to manage content in Contentful on behalf of a user
  - An API building on top of the content management API
  - A script (say, an import script) which creates entries and uploading assets
  - Automated tests of the API

  Having your own OAuth 2.0 application has a number of benefits:

  - OAuth 2.0 access tokens will be linked to your app
  - You can request the right OAuth 2.0 scopes for your application (`content_management_read` or `content_management_manage`)
  - You can specify a custom redirect URI that will receive the access token as part of the URI's hash fragment
  - You can specify a custom name and description

  [Create a new OAuth 2.0 application](https://app.contentful.com/account/profile/developers/applications/new)

= title_anchor 'h2', "authentication-oauth-access-token", "Requesting an OAuth 2.0 Access Token"

:markdown
  After having created an OAuth 2.0 application,
  you can use it to request OAuth 2.0 access tokens.

  - First, redirect to Contentful's OAuth 2.0 endpoint URI (see below).
    This will present a web page where logged in Contentful users can authorize your application to access their content.

%pre.highlight
  :plain
    https://be.contentful.com/oauth/authorize?response_type=token&client_id=$YOUR_APPS_CLIENT_ID&redirect_uri=$YOUR_APPS_REDIRECT_URL&scope=content_management_manage"


:markdown
  - Second, handle the callback from Contentful to your app:
    After user makes a choice, Contentful will redirect back to your app
    redirect URI. The URI leading to your app will look similar to example below.
    You have to extract that access token from the URI's hash fragment.

%pre.highlight
  :plain
    http://localhost:8080/my-app/#access_token=$CONTENT_MANAGEMENT_API_ACCESS_TOKEN

:markdown

  - Third and last, keep the extracted access token for future usage.
    You are now be able to make content management API requests on behalf of the authenticated user.


= javascript_include_tag 'lib/angular.min.js'
= javascript_include_tag 'cma_docs/bundle.js'
