:markdown
  Update the Asset with an ID of "bacon-pancakes":

= code_examples do
  = language_block :javascript do
    :plain
      space.getAsset('bacon-pancakes').then(function(asset) {
        asset.fields.file = {'en-US': {
          contentType: 'image/jpeg',
          fileName: 'example.jpg',
          upload: 'https://example.com/example.jpg'
        }};
        return space.updateAsset(asset);
      }).then(log.ok, log.fail);
  = language_block :shell do
    = curl method:       'PUT',
           path:         '/spaces/{space_key}/assets/bacon-pancakes',
           version:      1,
           data:         {fields: {title: {'en-US' => 'Bacon Pancakes'}, file: {'en-US' => {contentType: 'image/jpeg', fileName: 'example.jpg', upload: 'https://example.com/example.jpg'}}}}

%h5 Response

= language_block :json do
  :plain
    {
      "fields": {
        "title": {
          "en-US": "Bacon Pancakes"
        },
        "file": {
          "en-US": {
            "contentType": "image/jpeg",
            "fileName": "example.jpg",
            "upload": "https://example.com/example.jpg"
          }
        }
      },
      "sys": {
        "id": "bacon-pancakes",
        "type": "Asset",
        "space": {
          "sys": {
            "type": "Link",
            "linkType": "Space",
            "id": "7daovfk1olns"
          }
        },
        "createdAt": "2013-09-22T23:05:03.271Z",
        "createdBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "version": 2,
        "updatedAt": "2013-09-22T23:26:04.733Z",
        "updatedBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        }
      }
    }
