:markdown
  Before you can create Entries of a certan Content Type you need to activate it.

  Activate a Content type with the ID "blog-post".

= code_examples do
  = language_block :javascript do
    :plain
      space.getContentType('blog-post').then(function(contentType) {
        return space.publishContentType(contentType);
      }).then(log.ok, log.fail);

      // or activate Content Type by ID & version:
      space.publishContentType('blog-post', 1).then(log.ok, log.fail);
  = language_block :shell do
    = curl method:  'PUT',
           path:    '/spaces/{space_key}/content_types/blog-post/published',
           version: 2

%h5 Response

= language_block :json do
  :plain
    {
      "name": "Blog Post",
      "description": "Simple blog post with title and body fields.",
      "fields": [
        {
          "id": "title",
          "name": "Title",
          "type": "Text"
        },
        {
          "id": "body",
          "name": "Body",
          "type": "Text"
        }
      ],
      "sys": {
        "id": "blog-post",
        "type": "ContentType",
        "space": {
          "sys": {
            "type": "Link",
            "linkType": "Space",
            "id": "7daovfk1olns"
          }
        },
        "createdAt": "2013-09-22T21:42:00.184Z",
        "createdBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "version": 3,
        "updatedAt": "2013-09-22T21:51:42.138Z",
        "updatedBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "firstPublishedAt": "2013-09-22T21:51:42.138Z",
        "publishedCounter": 1,
        "publishedAt": "2013-09-22T21:51:42.138Z",
        "publishedBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "publishedVersion": 2
      }
    }
