%h4 Setting meta data

:markdown
  You can change the meta data of a Content Type (e.g. the description of the
  blog post type) as follows:

%h5 Request

= code_examples do
  = language_block :javascript do
    :plain
      space.getContentType('blog-post').then(function(contentType) {
        contentType.description = 'Simple blog post with title and body fields.';
        return space.updateContentType(contentType);
      }).then(log.ok, log.fail);
  = language_block :shell do
    = curl method:  'PUT',
           path:    '/spaces/{space_key}/content_types/blog-post',
           version: 1,
           data:    {name: 'Blog Post', description: 'Simple blog post with title and body fields.', fields: [{id: 'title', name: 'Title', type: 'Text'}, {id: 'body', name: 'Body', type: 'Text'}]}

%h5 Response

= language_block :json do
  :plain
    {
      "name": "Blog Post",
      "description": "Simple blog post with title and body fields.",
      "fields": [
        {
          "id": "title",
          "name": "Title",
          "type": "Text"
        },
        {
          "id": "body",
          "name": "Body",
          "type": "Text"
        }
      ],
      "sys": {
        "id": "blog-post",
        "type": "ContentType",
        "space": {
          "sys": {
            "type": "Link",
            "linkType": "Space",
            "id": "7daovfk1olns"
          }
        },
        "createdAt": "2013-09-22T21:42:00.184Z",
        "createdBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "version": 2,
        "updatedAt": "2013-09-22T21:49:43.396Z",
        "updatedBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        }
      }
    }

%h4 Updating a field ID

:markdown
  It is possible to change the ID of a Content Type's field. Please note, that the
  API will return different data afterwards and that this might break your currently
  existing code base.

%h5 Usecase

:markdown
  Imagine you created a Content Type and started developing your application.
  During the development process you find out, that the initially chosen name
  of a field was not perfect and you want to change it. Especially you want to
  change the response of the API.

%h5 Request

:markdown
  The following request changes the Content Type blog post to have a `headline`
  rather than a `title` field.

= code_examples do
  = language_block :javascript do
    :plain
      space.getContentType('blog-post').then(function(contentType) {
        contentType.description = 'Simple blog post with headline and body fields.';
        contentType.fields[0]   = {
          id:    'title',    // This is the old id of the field
          newId: 'headline', // This is the new id of the field
          name:  'Headline', // This is the new name of the field
          type:  'Text'
        };
        return space.updateContentType(contentType);
      }).then(log.ok, log.fail);
  = language_block :shell do
    = curl method:  'PUT',
           path:    '/spaces/{space_key}/content_types/blog-post',
           version: 1,
           data:    {name: 'Blog Post', description: 'Simple blog post with headline and body fields.', fields: [{id: 'title', newId: 'headline', name: 'Headline', type: 'Text'}, {id: 'body', name: 'Body', type: 'Text'}]}

%h5 Response

:markdown
  The response will omit the `newId` property and just return the newly set `id`
  property.

= language_block :json do
  :plain
    {
      "name": "Blog Post",
      "description": "Simple blog post with headline and body fields.",
      "fields": [
        {
          "id": "headline",
          "name": "Headline",
          "type": "Text"
        },
        {
          "id": "body",
          "name": "Body",
          "type": "Text"
        }
      ],
      "sys": {
        "id": "blog-post",
        "type": "ContentType",
        "space": {
          "sys": {
            "type": "Link",
            "linkType": "Space",
            "id": "7daovfk1olns"
          }
        },
        "createdAt": "2013-09-22T21:42:00.184Z",
        "createdBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "version": 3,
        "updatedAt": "2013-09-22T21:49:43.396Z",
        "updatedBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        }
      }
    }
