:markdown
  Publish the Entry with an ID of "hello-world".

= code_examples do
  = language_block :javascript do
    :plain
      space.getEntry('hello-world').then(function(entry) {
        return space.publishEntry(entry);
      }).then(log.ok, log.fail);

      // or publish Entry by ID & version:
      space.publishEntry('hello-world', 1).then(log.ok, log.fail);
  = language_block :shell do
    = curl method:  'PUT',
           path:    '/spaces/{space_key}/entries/hello-world/published',
           version: 2

%h5 Response

= language_block :json do
  :plain
    {
      "fields": {
        "title": {
          "en-US": "Crispy bacon news"
        },
        "body": {
          "en-US": "Bacon is healthy!"
        }
      },
      "sys": {
        "id": "hello-world",
        "type": "Entry",
        "space": {
          "sys": {
            "type": "Link",
            "linkType": "Space",
            "id": "7daovfk1olns"
          }
        },
        "createdAt": "2013-09-22T23:05:03.271Z",
        "createdBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "contentType": {
          "sys": {
            "type": "Link",
            "linkType": "ContentType",
            "id": "blog-post"
          }
        },
        "version": 3,
        "updatedAt": "2013-09-22T23:28:11.503Z",
        "updatedBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "firstPublishedAt": "2013-09-22T23:28:11.503Z",
        "publishedCounter": 1,
        "publishedAt": "2013-09-22T23:28:11.503Z",
        "publishedBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "publishedVersion": 2
      }
    }
  
:markdown
  After publishing the Entry it will be available via the [Content Delivery API](/developers/documentation/content-delivery-api/).
