:markdown
  Before you can create an Entry you need to [create](#resources-content-types-create) and [activate](#resources-content-types-activate) a Content Type.

  When creating a new Entry you need to pass the ID of the Entry's desired Content Type as the `X-Contentful-Content-Type` header.

  Create a Blog Post Entry:

= code_examples do
  = language_block :javascript do
    :plain
      space.createEntry('blog-post', {
        sys: {id: 'hello-world'},
        fields: {
          title: {'en-US': 'Hello, World!'},
          body: {'en-US': 'Bacon is healthy!'}
        }
      }).then(log.ok, log.fail);
  = language_block :shell do
    = curl method:       'PUT',
           path:         '/spaces/{space_key}/entries/hello-world',
           content_type: 'blog-post',
           data:         {fields: {title: {'en-US' => 'Hello, World!'}, body: {'en-US' => 'Bacon is healthy!'}}}

%h5 Response

= language_block :json do
  :plain
    {
      "fields": {
        "title": {
          "en-US": "Hello, World!"
        },
        "body": {
          "en-US": "Bacon is healthy!"
        }
      },
      "sys": {
        "id": "hello-world",
        "type": "Entry",
        "space": {
          "sys": {
            "type": "Link",
            "linkType": "Space",
            "id": "7daovfk1olns"
          }
        },
        "createdAt": "2013-09-22T23:05:03.271Z",
        "createdBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "contentType": {
          "sys": {
            "type": "Link",
            "linkType": "ContentType",
            "id": "blog-post"
          }
        },
        "version": 1,
        "updatedAt": "2013-09-22T23:05:03.271Z",
        "updatedBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        }
      }
    }
