:markdown
  Create a new Space by doing a POST request to the `/spaces` endpoint:

= code_examples do
  = language_block :javascript do
    :plain
      client.createSpace({name: 'Example Space'}).then(log.ok, log.fail);
  = language_block :shell do
    = curl method: 'POST',
           path:   '/spaces',
           data:   {name: 'Example Space'}

%h5 Response

= language_block :json do
  :plain
    {
      "sys": {
        "type": "Space",
        "id": "1vlwe1hnkhmk",
        "version": 0,
        "createdBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "createdAt": "2013-09-22T17:34:53Z",
        "updatedBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "updatedAt": "2013-09-22T17:34:53Z"
      },
      "name": "Example Space"
    }

= title_anchor 'h4', "resources-spaces-create-multiple-organizations", "Creating a Space in a specific Organization"

:markdown
  In Contentful you can be a member of multiple Organizations.

  Depending on your role in the organization you can create Spaces in them or
  not: Only organization owners and admins have this permission.

  When you sign up the first time, you'll create a new organization.
  When you're invited to an existing organization, you'll become a member of it.

  If you only have a single organization, any Space you create will be
  automatically associated with that organization.

  However, if you're an admin or an owner in multiple organizations you need to
  pass the ID of the organization you want to create the Space in.

  For example, let's say you're a member of two organizations:

  - Bacon Corp (id="bacon")
  - Tofu Enterprises (id="tofu")

  And now we intend to create a Space called "Vegan Guide" in the appropriate
  organization:

= code_examples do
  = language_block :javascript do
    :plain
      client.createSpace({name: 'Vegan Guide'}, 'tofu').then(log.ok, log.fail);
  = language_block :shell do
    = curl method:  'POST',
           path:    '/spaces',
           data:    {name: 'Example Space'},
           headers: {'X-Contentful-Organization' => 'tofu'}
