:markdown
  Update an existing Space by doing a PUT request to `/spaces/ID`:

= code_examples do
  = language_block :javascript do
    :plain
      client.getSpace('{space_key}').then(function(space) {
        space.name = 'Outer Space';
        return client.updateSpace(space);
      }).then(log.ok, log.fail);
  = language_block :shell do
    = curl method:  'PUT',
           path:    '/spaces/{space_key}',
           version: 0,
           data:    {name: 'Outer Space'}

%h5 Response

= language_block :json do
  :plain
    {
      "sys": {
        "type": "Space",
        "id": "1vlwe1hnkhmk",
        "version": 1,
        "createdBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "createdAt": "2013-09-22T17:34:53Z",
        "updatedBy": {
          "sys": {
            "type": "Link",
            "linkType": "User",
            "id": "0lEP0wVJL8WSQSbRuVUdcJ"
          }
        },
        "updatedAt": "2013-09-22T17:41:45Z"
      },
      "name": "Outer Space"
    }
