= title_anchor 'h4', "resources-webhooks-create", "Creating a Webhook"

:markdown
  Create a Webhook without an ID:

= code_examples do
  = language_block :shell do
    = curl method:       'POST',
           path:         '/spaces/{space_key}/webhook_definitions',
           data:         {url: 'https://www.example.com'}

:markdown
  Or create a Webhook with a specific ID:

= code_examples do
  = language_block :shell do
    = curl method:       'PUT',
           path:         '/spaces/{space_key}/webhook_definitions/foobar',
           data:         {url: 'https://www.example.com'}
